@model KidKinder.Models.Entities.Parent
@{
    ViewBag.Title = "ParentView";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<link rel="stylesheet" href="~/Template/KidAdmin/assets/css/Form1.css" />
<div class="container">
    <div class="form-container">
            <form >

                @Html.TextBoxFor(x => x.ParentID, new { @type = "hidden" })
                <label>İsim :</label>
                @Html.TextBoxFor(x => x.FirstName)
                <br /><br />
                <label>Soyisim :</label>
                @Html.TextBoxFor(x => x.LastName)
                <br /><br />
                <label>E-posta :</label>
                @Html.TextBoxFor(x => x.Email, new { @type = "email" })
                <br /><br />
                <label>Telefon :</label>
                @Html.TextBoxFor(x => x.PhoneNumber)
                <br /><br />
                <label>Açık Adres :</label>
                @Html.TextAreaFor(x => x.Address,new { @class="form-container", @style="width:558px;"})
                <br /><br />
                <a href="/Student/Index/" class="btn btn-outline-dark"><i class="fa fa-mail-reply-all"></i>Geri Dön</a>
               
            </form>
        
    </div>


</div>
