
@model KidKinder.Models.Entities.Contact

<div class="main-body">
    <div class="page-wrapper">
        <div class="page-body">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Basic Form Inputs card start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>ALICI BİLGİLERİ</h5>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Alıcı ID :</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.ContactId, new { @class = "form-control form-control-round", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Alıcı İsmi :</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control form-control-round", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Hedef Adres :</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-control-round", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Konu :</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control form-control-round", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Mesaj :</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(x => x.Message, new { @class = "form-control form-control-round", @required = "required" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Basic Form Inputs card end -->
                </div>
            </div>
        </div>
    </div>
</div>